@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Nunito&family=Playfair+Display:wght@700&display=swap");

/* Circle custom*/
.container-circle {
  background-color: #ffcd61;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px 20px;
  position: relative;
}

.container-circle .circle {
  width: 30px;
  height: 30px;
  border: 10px solid #393939;
  border-radius: 50%;
  position: absolute;
}

/* icon & profile*/
.icon {
  width: 133px;
  height: 44.01px;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.img-icon {
  width: 40px;
  height: 36px;
}

.count {
  position: absolute;
  width: 25px;
  height: 25px;
  background: #ffcd61;
  border-radius: 50%;
  top: -5px;
  right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
}

.img-profile {
  position: absolute;
  width: 55.62px;
  height: 60.15px;
  border-radius: 50%;
}

.profile {
  width: 133px;
  height: 44.01px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Font */
.f-playfair {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: #202336;
}

.f-playfair-main {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
}

.f-nunito {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #202336;
}

.f-mulish {
  font-family: Mulish;
  font-style: normal;
  font-size: 19px;
  color: #393939;
}

.f-mulish-coment {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #393939;
}

/* Line Custom */
.line {
  width: 80%;
  height: 3px;
  background-color: #202336;
}

/* link */
.link a {
  text-decoration: none;
  color: #848484;
}

/* colors icon*/
.blue {
  color: blue !important;
}

.red {
  color: red !important;
}

.f-detail {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 24px;
  display: flex;
  padding-top: 12px;
}

.link-back a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.img-detail {
  width: 610px;
  height: 409px;
  border-radius: 10px;
}

.img-thumb {
  width: 233px;
  height: 158px;
  border-radius: 10px;
}

.box,
.box-minus,
.box-plus {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.box-plus {
  background: #ffcd61;
}

.box-minus {
  background: rgba(203, 203, 212, 0.2);
}

.f-number {
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 25px;
  display: flex;
  color: #000000;
}

.btn-chat-admin {
  width: 443px;
  height: 89px;
  background: #393939;
  border-radius: 10px;
}

.btn-reservation {
  width: 421px;
  height: 89px;
  background: #ffcd61;
  box-shadow: 0px 0px 20px rgba(251, 143, 29, 0.4);
  border-radius: 10px;
}

.btn-like {
  width: 170px;
  height: 89px;
  background: #393939;
  border-radius: 10px;
}

.f-chat-admin {
  text-decoration: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  color: #ffcd61;
}

.f-reservation {
  text-decoration: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  color: #000000;
}

.f-like {
  text-decoration: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #ffcd61;
}

.bg-footer {
  background: #f9f9fb !important;
}

.f-tittle {
  font-family: Playfair;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 25px;
  color: #042521;
}

.f-subtittle {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 24px;
  color: #042521;
}

.f-available {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  color: #087e0d;
}

.f-payment {
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #9b0a0a;
}

.f-booking {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #393939;
}

.f-price {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 25px;
  color: #000000;
}
