@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Nunito&family=Playfair+Display:wght@700&display=swap");

/* Circle custom*/
.gender-circle {
  background-color: #ffcd61;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px 20px;
  position: relative;
}

.gender-circle .circle {
  width: 30px;
  height: 30px;
  border: 10px solid #393939;
  border-radius: 50%;
  position: absolute;
}

/* icon & profile*/
.icon {
  width: 133px;
  height: 44.01px;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.img-icon {
  width: 40px;
  height: 36px;
}

.count {
  position: absolute;
  width: 25px;
  height: 25px;
  background: #ffcd61;
  border-radius: 50%;
  top: -5px;
  right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
}

.img-profile-icon {
  position: absolute;
  width: 55.62px;
  height: 60.15px;
  border-radius: 50%;
}

.img-profile {
  width: 327.69px;
  height: 350.92px;
  border-radius: 50%;
}

.profile {
  width: 133px;
  height: 44.01px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Font */
.f-playfair,
.f-playfair-main {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: #202336;
}

.f-playfair-main {
  font-size: 36px;
  line-height: 50px;
  color: #000000;
}

.f-nunito,
.f-judul,
.f-save {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: #202336;
}

.f-judul {
  font-size: 36px;
}

.f-mulish {
  font-family: Mulish;
  font-style: normal;
  font-size: 19px;
  color: #393939;
}

.f-save-cansel {
  font-size: 24px;
  color: #393939;
}

.f-name {
  font-family: Playfair;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 24px;
  position: relative;
}

.f-status {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: rgba(184, 190, 205, 1);
}

.f-edit {
  width: 166px;
  height: 33px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
}

.f-form,
.f-form-title,
.f-form-label,
.f-form-input {
  font-family: Nunito;
  font-style: normal;
  font-size: 20px;
}

.f-form-title {
  font-weight: 900;
  line-height: 33px;
}

.f-form-label {
  color: rgba(159, 159, 159, 1);
  font-weight: normal;
  line-height: 33px;
}

.f-form-input {
  line-height: 50px;
}

/* Line Custom */
.line {
  width: 80%;
  height: 3px;
  background-color: #202336;
}

/* link */
.link a {
  text-decoration: none;
  color: rgba(57, 57, 57, 1);
}

.bg-footer {
  background: #f9f9fb !important;
}

.btn,
.btn-save,
.btn-cansel {
  width: 231px;
  height: 70px;
  box-shadow: 0px 0px 20px rgba(248, 161, 112, 0.4);
  border-radius: 10px;
}

.btn-save {
  background: #ffcd61;
  font-weight: 900;
}

.btn-cansel {
  background: rgba(203, 203, 212, 0.27);
  font-weight: 900;
}

.btn-edit,
.btn-edit-photo,
.btn-edit-password {
  width: 383px;
  height: 89px;
  border-radius: 10px;
}

.btn-edit-photo {
  background: #ffcd61;
}

.btn-edit-photo a {
  color: rgba(57, 57, 57, 1);
}

.btn-edit-password {
  background: #393939;
}

.btn-edit-password a {
  color: rgba(255, 205, 97, 1);
}

/* radio */
.gender {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default gender button */
.gender input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom gender button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.gender:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the gender button is checked, add a blue background */
.gender input:checked ~ .checkmark {
  background-color: rgba(255, 205, 97, 1);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.gender input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.gender .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
}

.form-input {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 80%;
}

.btn-submit {
  display: inline-block;
  width: 100%;
  height: 89px;
  background: #393939;
  border-radius: 10px;
  color: rgba(255, 205, 97, 1);
}

/* colors icon*/
.blue {
  color: blue !important;
}

.red {
  color: red !important;
}
